<md-tab-group>
    <md-tab>
        <template md-tab-label>Demo</template>
        <template md-tab-content>
            <md-card>
                <md-card-title>HTML5 Notification Demo</md-card-title>
                <md-card-content>
                    <form>
                        <table style="width: 100%" cellspacing="0">
                            <tr>
                                <td>
                                    <md-input placeholder="Title" style="width: 100%" name="title" [(ngModel)]="title"></md-input>
                                </td>
                                <td>
                                    <md-input placeholder="Body" style="width: 100%" name="body" [(ngModel)]="body"></md-input>
                                </td>
                            </tr>
                        </table>
                        <div style="text-align: right">
                            <button (click)="createNotification()" md-raised-button color="primary">Create</button>
                        </div>
                    </form>
                </md-card-content>
            </md-card>
        </template>
    </md-tab>
    <md-tab>
        <template md-tab-label>Code</template>
        <template md-tab-content>
            <md-tab-group>
                <md-tab>
                    <template md-tab-label>HTML</template>
                    <template md-tab-content></template>
                </md-tab>
                <md-tab>
                    <template md-tab-label>TS</template>
                    <template md-tab-content>
                        <codemirror [(ngModel)]="tsCode" [config]="tsConfig"></codemirror>
                    </template>
                </md-tab>
                <md-tab>
                    <template md-tab-label>CSS</template>
                    <template md-tab-content></template>
                </md-tab>
            </md-tab-group>
        </template>
    </md-tab>
</md-tab-group>