<br />
<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <div class="form-group">
                <label for="topic" class="control-label">Topic</label>
                <input type="text" class="form-control" placeholder="Sprint Demo" name="topic" [(ngModel)]="topic" />
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <label for="length" class="control-label">Topic Length</label>
                <input type="text" class="form-control" placeholder="Length in minutes" name="length" [(ngModel)]="length" />
            </div>
        </div>
    </div>
	<div class="row">
		<div class="col-sm-6">
			<div class="col-lg-12 col-md-12 col-sm-6 col-xs-12" style="padding-top: 20px">
				<timer [subtitle]="'Meeting Timer'" [minutes]="length" [directionS]="'Down'"></timer>
			</div>
		</div>
		<div class="col-sm-6">
			<div class="col-lg-12 col-md-12 col-sm-6 col-xs-12" style="padding-top: 20px">
				<timer [subtitle]="'Tangent Timer'" [minutes]="length" [directionS]="'Up'"></timer>
			</div>
		</div>
	</div>
    <div class="row">
        <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <span>Meeting Notes</span>
                </div>
                <div class="panel-content">
                    <div class="form-group">
                        <input (keyup.enter)="createMeetingNote()" type="text" class="form-control" placeholder="Enter a note and press enter" name="meetingNote" [(ngModel)]="meetingNote" />
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <span>Tangent Notes</span>
                </div>
                <div class="panel-content">
                    <div class="form-group">
                        <input type="text" (keyup.enter)="createTangentNote()" class="form-control" placeholder="Enter a note and press enter" name="tangentNote" [(ngModel)]="tangentNote" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Topic</th>
                            <th>Notes</th>
                            <th>Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let m of meetingNotes">
                            <td>{{topic}}</td>
                            <td>
                                {{m.note}}
                            </td>
                            <td>
                                <span style="float: right">{{m.date}}</span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Topic</th>
                            <th>Notes</th>
                            <th>Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let m of tangentNotes">
                            <td>
                                {{topic}}
                            </td>
                            <td>
                                {{m.note}}
                            </td>
                            <td>
                                <span style="float: right">{{m.date}}</span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>