output {
  align-items: center;
  background: black;
  display: flex;
  font: 8vw/1 "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  justify-content: center;
}

.clip-text {
  background-image: url(http://loginbeta.korweb.com/assets/images/login_bg.png);
  font-weight: bold;
  position: relative;
  margin: .01em;
  padding: .01em .01em;
  text-align: center;
  color: black;
  user-select: none;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.clip-text:before,
.clip-text:after {
  position: absolute;
  content: "";
}

.clip-text:before {
  z-index: -2;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: inherit;
}

.clip-text:after {
  position: absolute;
  z-index: -1;
  top: .125em;
  right: .125em;
  bottom: .125em;
  left: .125em;
  background-color: #000;
}