.huge {
  font-size: 40px;
}

.timer {
    padding-top: 20px;
}

/* While Running */
.panel-play > .panel-heading {
    border-color: #2DB87C;
    color: white;
    background-color: #2DB87C;
}

.panel-play a {
    color: white;
}

.panel-play {
    border-color: #2DB87C;
}

.panel-play > a {
    color: #2DB87C;
}

/* On Start */
.panel-start > .panel-heading {
    border-color: #683AB7;
    color: white;
    background-color: #683AB7;
}

.panel-start a {
    color: white;
}

.panel-start {
    border-color: #683AB7
}

.panel-start > a {
    color: #683AB7;
}
/* On Stop */
.panel-stop > .panel-heading {
    border-color: #FF553F;
    color: white;
    background-color: #FF553F;
}

.panel-stop a {
    color: white;
}

.panel-stop {
    border-color: #FF553F
}

.panel-stop > a {
    color: #FF553F;
}

.panel-tangent > .panel-heading {
    border-color: #FF943F;
    color: white;
    background-color: #FF943F;
}

.panel-tangent a {
    color: white;
}

.panel-tangent {
    border-color: #FF943F
}

.panel-tangent > a {
    color: #FF943F;
}

